<div class='small_content_area content_area'>
  <h2>new list</h2>
  <div class='page_nav nav'>
    <%= link_to 'Back', lists_path %>
  </div>

  <% form_for(@list) do |f| %>
    <div class='blurb'>
      <h4> Creating a new list </h4>
      Please enter the name of your new list.  You can also disable the lists public url to make it harder for other users to find your feeds.
    </div>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= display_field_errors @list, :name %>
    </p>
    <p>
      <%= f.label :has_public_url %>
      <%= f.check_box :has_public_url %>
    </p>
    <p>
      <%= f.submit 'Create', :class => 'button' %>
    </p>
  <% end %>
</div>

